@mixin card($card-type:'') {

    --paddingCard:1rem;
    --card-radius:var(--radius);
    --op:.15;
    display:flex;
    background-color: var(--white-color);
    border-radius: var(--card-radius);
    overflow: hidden;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, var(--op)));
    transition: var(--transition-regular);
    will-change: transform;
    
    
    &-row {
            flex-direction: row;
    }
    
    &-column {
            flex-direction: column;
    }

    
        @if $card-type == restaurants {
            position:relative;
            --card-type:#{$card-type};


            @include responsive-desk(){
                --paddingCard:.75rem;
                // width:clamp(600px,48%,770px);
                width:48%;
            }

            @include responsive-tab(){
                // width:fit-content;
            }

        }
    
        
    
    
}


.card {
    @include card();
}

