@mixin card($card-type:'') {

    --paddingCard:1rem;
    --card-radius:var(--radius);
    --op:.36;
    display:flex;
    
    background-color: white;
    border-radius: var(--card-radius);
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, var(--op)));
    transition: var(--transition-regular);
    will-change: transform;
    
    
    &-row {
            flex-direction: row;
    }
    
    &-column {
            flex-direction: column;
    }

    
        @if $card-type == restaurants {
            position:relative;
            --card-type:#{$card-type};

        }
    
        
    
    
}


.card {
    @include card();
}

