.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem var(--body-padding-vm);
    

    &--title {
        margin-block: 0;
        @include title(hero-index);
        text-align: center;
    }
    
    &--baseline {
        font : {
            family:var(--body-font);
            size:1.15rem;
            weight:var(--weight-light);
        }
        text-align: center;
    }
    
    &--link {
        width:fit-content;
        @include button(link);
    }
}