@mixin menu($menu-type:''){

    padding:0 var(--body-padding-vm);
    background: var(--background-color);
    

    &--content{
        margin-bottom:1rem;

        @include responsive-desk(){
            margin-bottom:2.25rem;
            // background: var(--background-color);
        }
    }

    &--title {
        width:fit-content;
        margin-top: 0;
        position: relative;
        font : {
            weight:400;
            size:1rem;
        }
        text-transform: uppercase;

        &::before {
            content: '';
            display: block;
            width:80%;
            height:3px;
            position:absolute;
            bottom:-6px;
            left:0;
            background:var(--third-color);
        }
    }

    &--list {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-block: 1.5rem;
    }

    &--item {
        // display: flex;
        // justify-content: space-between;
        // align-items: end;
        // padding:1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:80px;
        overflow: hidden;
        background:var(--white-color);
        border-radius: var(--radius);
        box-shadow: 2px 2px 8px 1px rgba(0,0,0,.25);

        &-data {
            display: flex;
            justify-content: space-between;
            align-items: end;
            width:100%;
            padding:.95rem;

        }

        
        &-surprise {
            width:0;
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            background:#99E2D0;
            transition:var(--transition-regular);
    
            & > i {
                font-size:1.5rem;
                color:var(--white-color);
                transition:var(--transition-regular);
            }
    
            
        }

        &-name{
            margin-block: 0 .25rem;
            font : {
                size:1.12rem;
                weight:var(--weight-medium);
            }
        }

        &-desc{
            font : {
                size:.94rem;
                weight:var(--weight-light);
            }
        }

        &-price {

            font : {
                size:.95rem;
                weight:var(--weight-bold);
            }
            color:var(--grey-color-1);
        }

        &:hover {
            cursor:pointer;

           & > .menus--item-surprise {
                    width:17.5%;
                }

        }
        
    }

    &--link {
        display: block;
        width:190px;
        margin:2rem auto;
        text-align: center;
        @include button(link);

        &:hover {
            width:230px;
        }
    }

    @include responsive-desk() {
        padding:0;
    }


}


.menus {
    @include menu();
}