@mixin animation-back($name,$endpoint) {

    
    @keyframes #{$name} {

        from {
            transform:translateX(0);
        }
    
        to {
            transform: translateX($endpoint);
        }

    }

}

@mixin animation-here($name){

    @keyframes #{$name} {

        from{
            opacity: 0;
        } 
        
        to{
            opacity: 1;
        }
    }
}


