// Colors
$colors: (
    primary-color:#9356DC,
    secondary-color:#FF79D9,
    third-color:#99E2D0,
    debeug: crimson,
    black-color:#000,
    white-color:#fff
);

$main-font:'Roboto';
$second-font:'Shrikhand';
$testing-color:#FF00FF;