@import 'base/all';
@import 'layouts/all';

:root{

    // Colors
    @each $color-name, $color-value in $colors {
        --#{$color-name}:#{$color-value};
    }

    //Anothers
    --testing:#{$testing-color};

}

h1 {
    color:var(--white-color);
    text-align: center;
    padding:1rem;
    background:var(--testing);
    text-shadow:2px 3px 10px var(--black-color);
}