@import 'base/all';
@import 'elements/all';
@import 'composants/all';
@import 'pages/all';
@import 'layouts/all';

:root {

    // Colors
    @each $color-name, $color-value in $colors {
        --#{$color-name}:#{$color-value};
    }

    //Fonts
    @each $font-name, $font-value in $fonts {
        --#{$font-name}:#{$font-value};
    }

    //Anothers
    @each $item-name, $item-value in $items {
        --#{$item-name}:#{$item-value};
    }

    //Spacing
    @each $responsive-name, $responsive-value in $responsiveness {
        --#{$responsive-name}:#{$responsive-value};
    }

    --testing:#{$testing-color};

}


body {
    --layout:'Mobile';
    --width-skeleton:#{map-get($responsiveness,'width-skeleton-vm')};
    --padding:0;
    margin: 0;
    padding: var(--padding);
    font : {
        family: var(--body-font);
        weight:400;
        size:1rem;
    }
    background:var(--white-color);

    @include responsive-desk(){
        --width-skeleton:#{map-get($responsiveness,'width-skeleton-desk')};
    }

    @include responsive-tab(){
        --width-skeleton:#{map-get($responsiveness,'width-skeleton-tab')};
    }
}


.skeleton {
    max-width:var(--width-skeleton);
    padding: 0 var(--body-padding-vm);
  
    @include responsive-desk(){
        display: block;
        margin: 0 auto;
        padding: 0 var(--body-padding-desk) var(--body-padding-desk);
        background: var(--background-color);
    }
}

#loader {
    --op:.98;
    position: fixed;
    inset:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // visibility: hidden;
    background: rgba(255,255,255,var(--op));
    transition:var(--transition-regular);
    @include fade-in-out(houdini,2.75s);

    .loader-wrapper{
        --gap:3rem;
        --sizes:180px;
        width:var(--sizes);
        height:var(--sizes);
        display: flex;
        position: relative;
        column-gap:var(--gap);
    }


    .square {
        --sizes:40px;
        --posTop:25%;
        --posSide:50%;
        display: block;
        width: var(--sizes);
        height:var(--sizes);
        position: absolute;
        top: var(--posTop);
        background:linear-gradient(var(--linear-gradient-heart));
        border-radius:0;
        border:3px solid var(--white-color);
        transition:var(--transition-regular);
        will-change: transform;
        transform: translateX(-50%) rotateZ(360deg);
      
        @include responsive-desk(){
            --sizes:70px;
        }

        @include responsive-tab(){
            --sizes:55px;
        }


        &:first-of-type{
            left: var(--posSide);
            @include circle-mooving(top,var(--posTop));
        }

        &:nth-of-type(2){
            right: var(--posSide);
            transform: translateX(50%) rotateZ(0);
            @include circle-mooving(right,var(--posTop));
        }

        &:last-of-type{
            left: var(--posSide);
            @include circle-mooving(left,var(--posTop));
        }

    }

       
}

