.food-store{

    .hero--title{
        --radius:50px;
        display: flex;
        align-items: center;
        width:100%;
        margin-block:auto 0;
        padding:2.5rem var(--body-padding-vm) 1rem;
        @include title(hero-store);
        border-radius:var(--radius) var(--radius) 0 0;
        background:var(--white-color);
        box-shadow: -4px -10px 12px 0px rgba(0,0,0,.22);

        .restaurants--icons {
            margin-left:auto;
        }
    }
    
   


    //Special Styles for Pages
    @each $page,$page-data in $pages {

        &.#{$page}{

            --data-page:#{$page};
            
            .hero {
                width:100%;
                min-height:333px;
                padding:0;
                background : {
                    size:cover;
                    position: center -50px;
                    image:url(#{$page-data});
                }
                    
            }
               
        }

    }
}