.food-store{

    .hero--title{
        --radius:40px;
        --width-skeleton:#{map-get($responsiveness,'width-skeleton-vm')};
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:var(--width-skeleton);
        margin-block:auto 0;
        padding:1.75rem var(--body-padding-vm) 1rem;
        @include title(hero-store);
        border-radius:var(--radius) var(--radius) 0 0;
        background:var(--background-color);
        box-shadow: -4px -10px 12px 0px rgba(0,0,0,.22);

        @include responsive-desk(){
            --width-skeleton:#{map-get($responsiveness,'width-skeleton-desk')};
            justify-content: center;
            padding-top:1.5rem;
        }

    
        .restaurants--icons {
            margin-right:2rem;

            @include responsive-desk(){
                margin-inline:2rem;
            }
        }
    }

    .menus {
        padding :{
            bottom:2rem;
            inline:0;
        }
   

        @include responsive-desk(){
            padding-bottom:0;
            background:var(--white-color);
        }


        &--content{
            
            
            &.entries {
                
                & .menus--list{
                    animation-delay: 1.2s;
                }
                
            }
    
            &.plats{
              
    
                & .menus--list{
                    animation-delay: 2.5s;
                }
    
            }
    
            &.desserts{
               
    
                & .menus--list{
                    animation-delay: 3.7s;
                }
    
            }

        }

        &--list{
            opacity: 0;
            animation:hello 2s 1 ease-in-out forwards;
            transition: var(--transition-regular);
            @include animation-here(hello);

        }

    }

   
    .skeleton{
        background: var(--background-color);
    }


    //Special Styles for Pages
    @each $page,$page-data in $pages {

        &.#{$page}{

            --data-page:#{$page};
            
            .hero {
                width:100%;
                height:300px;
                padding:0;
                background : {
                    size:cover;
                    repeat:no-repeat;
                    position: center -50px;
                    image:url(#{$page-data});
                }

                @include responsive-desk(){
                    height:400px;
                    background : {
                        position: center -500px;
                    }

                }
                    
            }
               
        }

    }
}