.restaurants {

    padding:var(--body-padding-vm) 0;
    background: var(--background-color);

    &--list {
        --gap:2rem;
        display: flex;
        flex-direction: column;
        row-gap:var(--gap);

        @include responsive-desk(){
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    &--title {
        // @include title(section);
    }

    &--card {
        @include card(restaurants);
    }

    &--thumb {
        width:100%;
        max-height:230px;
        object-fit: cover;

        @include responsive-desk(){
            max-height:200px;
        }
    }

    &--status {
        --pos:4%;
        position: absolute;
        right:var(--pos);
        top:var(--pos);
       
        &.new {
            --op:.22;
            width:fit-content;
            padding:5px 15px;
            border-radius:2px;
            font:{
                size:.85rem;
                weight:var(--weight-medium);
            }
            background:var(--third-color);
            color:var(--fourth-color);
            box-shadow:2px 2px 5px rgba(0,0,0,var(--op));
        }

    
        &.none {
            display:none,
        }

    
    }

    &--content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:var(--paddingCard);
    }

    
    &--icons{
        i {
            transform-origin: center;
            transform:scale(1);
            will-change: transform;

            &::before{
                font : {
                    size: 1.25rem;
                    weight:400;
                }
                transition: font-weight .06s ease-in-out;
            }

            &:hover{
                transform: scale(1.15);
                cursor: pointer;
            
                &::before{
                    font-weight:800;
                    background: linear-gradient(var(--linear-gradient-heart));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

       
    
    }

    &--text{

    }

    &--name {
        margin-block:0;

        font:{
            size:1.125rem;
            weight:var(--weight-bold);
        }

    }

    &--geoloc {
        padding-block:8px;
        font:{
            size:1.059rem;
            weight:var(--weight-light);
        }

    }

}


.notice {

    .skeleton{

        
        @include responsive-desk(){
            background:var(--color-white);
        }

    }
   
}