// FOOTER
.footer {
  
    display: flex;
    flex-direction: column;
    row-gap:1rem;
    padding:var(--body-padding-vm) 2rem;
    background:var(--grey-color-1);

    @include responsive-desk(){
        --gap:5vw;
        flex-direction: row-reverse;
        align-items: center;
        column-gap:var(--gap);
    }


    &--title{

        color:var(--white-color);
        font :{
            family:var(--title-font);
            size:1.25rem;
            weight:var(--weight-medium);
        }


    }

    &--nav {
        display: flex;
        flex-direction: column;
        row-gap:.85rem;

        @include responsive-desk(){
            --gap:2rem;
            flex-direction: row;
            column-gap:var(--gap);
        }
    }

    &--link {

        color:var(--white-color);
        font:{
            size:1rem;
            weight:var(--weight-regular);
        }

        & > i {
            margin-right:5px;
        }
    }

    
}