// HEADER
.featured {
    display:flex;
    justify-content: center;
    align-items: center;
}

.back-to-town {
    margin-inline:var(--body-padding-vm) calc( (-1) * var(--body-padding-vm));
    transition: var(--transition-regular);

    .fa-arrow-left {
        font-size:1.4rem;
        color:var(--grey-color-1);
    }

    &:hover{
        animation: to-back .5s ease-in-out infinite alternate;
    }
    
    @include animation-back(to-back,-6px);
}

.logo {
    margin:0 auto;
    padding:1rem;
    @include title(logo);
    background:var(--white-color);
}

.geoloc {
    --gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:var(--body-padding-vm);
    column-gap: var(--gap);
    font : {
        size:1rem;
        weight:var(--weight-medium);
    }
    color:var(--grey-color-1);
    // box-shadow: inset 0px -3px 12px rgba(0, 0, 0, 0.19),6px 0px 12px rgba(0, 0, 0, 0.22);
    background:var(--grey-color-2);
}