
.notice {
    // --gap:25px;
    // display:flex;
    // flex-direction:column;
    // row-gap:var(--gap);
    padding:var(--body-padding-vm);
    

    &--list {
        margin: 0;
        padding: 0;
        counter-reset: item;
        list-style-type: none;
        

        & > li {
            position:relative;
            margin-block:1rem;
            padding-left:var(--body-padding-vm);
            
            &::before {
                --square:25px;
                --radius:50px;
                content:counter(item);
                position: absolute;
                top:50%;
                left:0;
                transform:translate(0, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                width:var(--square);
                height:var(--square);
                counter-increment: item;
                background:var(--primary-color);
                border-radius: var(--radius);
                color:var(--white-color);
                font : {
                    family:var(--body-font);
                    size:12px;
                }
            }

        }
    }

    &--title {
        // @include title(section);
    }

    &--link{
        --op:.25;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        padding:1rem;
        text-align: center;
        font:{
            size:1rem;
            weight:var(--weight-medium);
        }
        color:var(--black-color);
        background:var(--background-color);
        border-radius:var(--radius);
        box-shadow: 2px 5px 10px rgba(0, 0, 0, var(--op));

        & > i {
            margin-right:15px;
            color:var(--grey-color-1);
            font-size: 19px;
            
            &.fa-store {
                color:var(--primary-color);
            }
        }
    }


}


.restaurants {
    padding:var(--body-padding-vm);

    &--list {
        --gap:2rem;
        display: flex;
        flex-direction: column;
        row-gap:var(--gap)
    }

    &--title {
        // @include title(section);
    }

    &--thumb {
        max-height:230px;
        object-fit: cover;

    }

    &--status {
        --pos:4%;
        position: absolute;
        right:var(--pos);
        top:var(--pos);
       
        &.new {
            width:fit-content;
            padding:10px;
            border-radius:2px;
            font:{
                size:.85rem;
                weight:var(--weight-medium);
            }
            background:var(--third-color);
            color:var(--fourth-color);
        }

    
        &.none {
            display:none,
        }

    
    }

    &--content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:var(--paddingCard);
    }

    
    &--icons{
        i {
            transform-origin: center;
            transform:scale(1);
            will-change: transform;

            &::before{
                font : {
                    size: 1.25rem;
                    weight:400;
                }
                transition: font-weight .06s ease-in-out;
            }

            &:hover{
                transform: scale(1.15);
                cursor: pointer;
            
                &::before{
                    font-weight:800;
                    background: linear-gradient(var(--linear-gradient-heart));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

       
    
    }

    &--text{

    }

    &--name {
        margin-block:0;

        font:{
            size:1.125rem;
            weight:var(--weight-bold);
        }

    }

    &--geoloc {

        font:{
            size:1,0625rem;
            weight:var(--weight-light);
        }

    }



   
}