@mixin button($button-type:link) {

    @if $button-type == link {
        --element:#{$button-type};
        --radius:50px;
        --op:.25;
        padding:1rem;
        border-radius: var(--radius);
        background:linear-gradient(var(--linear-gradient-link));
        color:var(--white-color);
        font : {
            size:1rem;
            weight:var(--weight-medium);
        };
        box-shadow:0 4px 10px 0 rgba(0, 0, 0, var(--op));;
        transition:var(--transition-regular);

        &:hover{
        --op:.45;
        opacity:.75;
        }

    }

    @else if $button-type == cta {

        
    }


    @else {
        --test:'fail';
    }


}