@mixin title($title-type) {

    @if $title-type == 'logo' {

        font : {
            family: var(--title-font);
            size:1.8rem;
        }
        color:var(--grey-color-1);
        text-align: center;
        
    }

    @else if $title-type == 'hero' {

        margin-block: 0;
        font : {
            family: var(--body-font);
            weight:800;
            size:var(--title-font-size);
        }
        text-align: center;
       
    }

    @else if $title-type == section {

        font : {
            family: var(--title-font);
            weight:800;
            size:var(--title-font-size);
        }
        color:var(--black-color);
        text-align: center;

    }
}

