@mixin title($title-type) {

    @if $title-type == 'logo' {

        font : {
            family: var(--title-font);
            size:1.8rem;
        }
        color:var(--grey-color-1);
        text-align: center;

    }

    @else if $title-type == 'hero' {

        margin-block: 0;
        font : {
            weight:var(--weight-bold);
            size:var(--title-font-size);
        }
        text-align: center;
       
    }

    @else if $title-type == 'section' {

        font : {
            weight:var(--weight-bold);
            size:var(--title-font-size);
        }
        color:var(--black-color);

    }

    @else if $title-type == 'menu' {

        font : {
            family: var(--title-font);
            weight:var(--weight-bold);
            size:var(--title-font-size);
        }
        color:var(--black-color);

    }
}

